.tabela {
    text-align: center;
    border-collapse: collapse;
    margin: 25px 5em;
    font-size: 0.9em;
    font-family: sans-serif;
    min-width: 400px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
}

.tabela thead tr {
    background-color: #009879;
    color: #ffffff;
    text-align: center;
}

.tabela th, .tabela td {
    padding: 12px 15px;
}

#titulo {
    text-align: center;
    font-family: sans-serif;
}

.capa {
    width: 200px;
}